body {
  background-color: #000000;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 70%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(66, 66, 66, 0);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.divcarousel {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.hcarousel {
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.buttoncitties {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 900;
}

.conteinerHeader {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 15rem;
  margin-top: 8rem;
}

.container {
  /* background: lightblue; */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  padding: 1rem;
  width: 7rem;
}

.btnhome {
  padding: 0.8em 1.8em;
  border: 2px solid #ffffff;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #ffffff;
}

.btnhome::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #ffffff;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.btnhome:hover::before {
  width: 105%;
}

.btnhome:hover {
  color: #111;
  font-weight: 700;
}
.divcalltoactionfather {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  padding: 0.2rem;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 5s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
  z-index: 1;
}

.divcalltoactionfather:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.1);

  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 5s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
  z-index: 1;
}

.divcalltoaction {
  padding: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.flip-card-hover {
  padding: 0.5rem;
}
.imgcarousel {
  border-radius: 0.7rem;
}
.titulocarousel {
  color: #ffffff;
}
.titulocalltoaction {
  color: white;
}

.footer {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #000000;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #dddddd;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.btnfooter {
  display: flex;
  flex-direction: column;
}

.hfooter {
  padding: 0.5rem;
  color: #dddddd;
}
.copyrigthfooter {
  padding: 2rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.calltoaction {
  color: white;
}
.divhcalltoaction {
  padding: 2rem;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.arrowleft {
  padding: 1rem;
  width: 1.5rem;
}

.imgcalltoaction {
  border-radius: 2rem;
}
.calltoactionprincipal {
  margin-top: 15rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.tituloheader {
  color: white;
}
.construction {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.imgconstruction {
  width: 25rem;
  padding: 2rem;
}
.logoinheader {
  width: 12rem;
}
.conteinerlogoinheader {
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 1;
}
.titulocities {
  text-align: center;
  margin-top: 4rem;
  color: white;
  padding: 2rem;
  z-index: 1;
}
.conteinertituloysearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  z-index: 1;
}
.inputsearch {
  text-align: center;
  width: 100%;
}
.conteinertitleandlogdown {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
}

.arrowdown {
  width: 2rem;
  height: 2rem;
  z-index: 1;
}
.conteinercard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
  z-index: 1;
}
.conteinerimgcard {
  padding: 1rem;
}
.imgcard {
  width: 100%;
  border-radius: 0.7rem;
}
.conteinertextocard {
  padding: 1rem;
}
.titulocard {
  color: white;
}
.descripcioncard {
  color: white;
}
.card {
  margin: 1rem;
  padding: 1rem;
  width: 200px;
  height: auto;
  border-radius: 0.7rem;
  box-shadow: 3px 5px 20px 1px #6d6d6d88;

  background-color: #161616;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  z-index: 1;
}

.card:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.1);
  background-color: #111111;
  box-shadow: 0px 0px 30px 1px #ffffff88;
  z-index: 1;
}

.video {
  opacity: 0.4;
}

.inputsearch {
  width: 15rem;
  height: 2rem;
  color: rgb(255, 255, 255);
  background-color: #000;
  border-radius: 10px;
  border-color: rgb(180, 178, 178);
  transition: all 0.3s;
  z-index: 1;
}

.inputsearch:hover {
  transform: scale(1.1);
  background-color: rgb(0, 0, 0);
  z-index: 1;
}

/* ESTILO DE BUTON CITIES */
.contenedorbuttoncities {
  margin-top: 2.3rem;
  display: flex;
  justify-content: center;
}
.btndetails {
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: rgb(238, 238, 238);
}

.btndetails:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btndetails:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btndetails::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btndetails::after {
  background-color: #fff;
}

.btndetails:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
/* FIN DE BUTTON CITIES */

@media (max-width: 768px) {
}
